################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/UpgradeLog.htm
/shanks_transformation/x64/Debug
