################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/shanks_transformation/x64/Debug/shanks_t.94bab632.tlog
/shanks_transformation/x64/Debug
/x64/Debug
